
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.overflow-y{
  overflow-y: auto;
}

header{
  height: 100px;
  background-color: #009788;
  position: fixed;
  width: 100vw;
  top:0;
}


.container{
  width: 80%;
  min-width: 950px;
  height: calc(100vh - 40px);
  margin: 20px auto;
  position: relative;

}

.container::after{
  clear: both;
  display: table;
  content: "";
}

.float-l{
  float: left;
}

#sidebar{
  min-width: 35%;
  height: 100%;
  background-color: red;
}

main{
  width: calc(100% - 35%);
  height: calc(100% - 100px);
  background-color: blue;
}

#bottom{
  width: calc(100% - 35%);
  background-color: green;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;

}
