/*
/*utilities*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: #DADBD5; */
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom,#009688 0px,
    #009688 15vh,#dddbd1 15vh,#d2dbdc 100%);
}


.overflow-y{
  overflow-y: auto;
}

.flex{
  display: flex;
}

.float-l{
  float: left;
}

i{
  color: #B1B1B1;
}

i:hover{
  cursor: pointer;

}


.radius-50{
  border-radius: 50%;
}

/*end utilities*/

/* header{
  height: 100px;
  background-color: #009788;
  position: fixed;
  width: 100vw;
  top:0;
} */


.container{
  width: 80%;
  min-width: 950px;
  height: calc(100vh - 40px);
  margin: 20px auto;
  position: relative;

}

.container::after,
.clearfix::after
{
  clear: both;
  display: table;
  content: "";
}



/*sidebar*/

#sidebar{
  width: 35%;
  height: 100%;
  background-color: #fff;
  border-right: 2px solid #9B9DE2;
}

/*upper sidebar*/

#upper-sidebar{
  height: 60px;
  background-color: #EAEAEA;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

#upper-sidebar > .avatar-container{
  align-items: center;

  width: 150px;
  height: 40px;
}

.avatar-container > img{
  width: 30%;
}

.upper-sidebar-icons{
  width: 80px;
  align-items: center;
}

.upper-sidebar-icons > i{
  padding-right: 15px;

}

/*end upper sidebar*/

/*sidebar notifications control*/
.sidebar-notifications-control{
  width: 100%;
  height: 70px;
  background-color: #8EDAFC;
  padding: 15px;
}

.sidebar-notifications-control > div{
  width: 45px;
  height: 45px;

  background-color: #fff;
  position: relative;
  margin-right: 10px;
}

.sidebar-notifications-control > div > i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8EDAFC;
  font-size: 20px;
}

.sidebar-notifications-control > span{
  color:#517C99;
}

/* end sidebar notifications control*/

/*sidebar chat search*/
.chat-search{
  width: 100%;
  height: 40px;
  background-color: #FAFAFA;
  padding: 5px;
  position: relative;
}

.chat-search > input{
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 60px;

}

.chat-search i{
  position: absolute;
  top:30%;
  left: 20px;

}

/*end sidebar chat search*/

/*sidebar contacts list*/

.sidebar-contacts-list{
  padding: 10px;
  flex-direction: column;
}

.sidebar-contacts-list li{
  list-style: none;
}

.sidebar-contacts-list > .avatar-container{
  width: 100%;
  border-bottom: 1px solid #EAEAEA;
  padding: 5px;
}

.sidebar-contacts-list > .avatar-container:hover{
  cursor: pointer;
  background-color: #EAEAEA;
}

.sidebar-contacts-list > .avatar-container > img{
  margin-bottom: 5px;
  width: 15%;

}



.sidebar-contacts-list .avatar-container span{

  margin-left: 15px;
  vertical-align: top;
}
/*end sidebar contacts list*/


/*end sidebar*/

/*main friend section*/

#friend-section{
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

#friend-section .friend-section-avatar{
  align-items: center;
}

#friend-section  .avatar-container{
  width: 45px;

}

#friend-section  .avatar-container  img{
  width: 100%;
}

#friend-section span{
  margin-left: 10px;
  font-size: 13px;
}

#friend-section span:nth-of-type(2){
  color:#B7BBBC;
}

#friend-section .friend-section-icons i{

  padding-right: 15px;
}



/*end main friend section*/

main{
  width: calc(100% - 35%);
  height: 100%;
  position: relative;

}

/*central main*/


.central-main-container{
  padding-right: 20px;
  height: calc(100% - 120px);
  padding-right: 15px;
  background-color: #fff;
}

#central-main{
  height:100%;
  position: relative;
  background-image: url("../img/mine.jpg");

}



.my-message{
  background-color: #DDFFC0;
  top:100px;
  right: 10%;
}

.friend-message{
  background-color: #fff;
  top:150px;
  left: 10%;
}


.my-message,
.friend-message{
  height: 50px;
  width: 200px;
  padding: 10px;
  position: absolute;
  border-radius: 7px;

}

.my-message span,
.friend-message span{
  line-height: 25px;
}

/*end central main*/

/*bottom main*/
#main-bottom{
  width:100%;
  background-color: #F3EEEA;
  height: 60px;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

#main-bottom i{
  font-size: 25px;
  color: #4D4947;
}

#main-bottom input{
  width: 90%;
  height: 100%;
  padding: 10px;
  border: 0;
}

/*end bottom main*/
