
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #DADBD5;
}


.overflow-y{
  overflow-y: auto;
}

.flex{
  display: flex;
}

header{
  height: 100px;
  background-color: #009788;
  position: fixed;
  width: 100vw;
  top:0;
}


.container{
  width: 80%;
  min-width: 950px;
  height: calc(100vh - 40px);
  margin: 20px auto;
  position: relative;

}

.container::after{
  clear: both;
  display: table;
  content: "";
}

.float-l{
  float: left;
}

#sidebar{
  width: 35%;
  height: 100%;
  background-color: red;
  border-right: 2px solid #9B9DE2;
}

#upper-sidebar{
  height: 60px;
  background-color: #EAEAEA;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
}

.avatar-container{
  border-radius: 50%;
  width: 150px;
  height: 40px;
  align-items: center;
}



/* #sidebar div:first-child{
  vertical-align: middle;
} */



.avatar-container > img{
  width: 30%;
}

#friend-section{
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
}

main{
  width: calc(100% - 35%);
  height: 100%;
  background-color: blue;
}

#central-main{
  height:calc(100% - 60px);
}

#main-bottom{
  width:100%;
  background-color: green;
  height: 60px;
}
