<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzapp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
    <header></header>
    <div id="app">
      <div class="container">
        <!-- sidebar -->
        <div id="sidebar" class="float-l overflow-y">
          
          <!-- upper sidebar -->
          <div id="upper-sidebar" class="flex">
            <div class="avatar-container flex">
              <img src="img/avatar_io.jpg" alt="Avatar">
              <span>Nome Utente</span>
            </div>
            <div class="upper-sidebar-icons flex">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!--end upper sidebar -->
          
          <!-- sidebar notifications control -->
          <div class="sidebar-notifications-control">
            <div class="float-l">
              <i class="fas fa-bell-slash"></i>
            </div>
            <span>Ricevi notifiche di nuovi messaggi</span><br>
            <a href="">Attiva notifiche desktop</a>
          </div>
          <!--end sidebar notifications control -->
          <div class="chat-search">
            <input type="text" placeholder="Cerca o inizia una nuova chat">
            <i class="fas fa-search"></i>
          </div>
          <div class="sidebar-contacts-list flex">
            <div class="avatar-container flex">
              <img v-for="element in contacts" :src="element.avatar" alt="">
            </div>
            <div class="contacts-name-container flex ">
              <span v-for="element in contacts">{{element.name}}</span>
            </div>
            
          </div>
        </div>
        <!--end sidebar -->
        
        <!-- main -->
        
  <!-- main -->
        <main class="float-l overflow-y">
          <!-- friend-section -->
          <div id="friend-section" class="float-l flex">
            <div class="friend-section-avatar flex">
              <div class="avatar-container">
                <img src="img/avatar_1.jpg" alt="Avatar">
              </div>
              <div>
                <span>Michele</span><br>
                <span>Ultimo accesso alle</span>
              </div>
            </div>
            <div class="friend-section-icons">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!--end friend-section -->
          <div id="central-main"></div>
          <div id="main-bottom" class="float-l"></div>
        </main>
        <!--end main -->
      </div>
    </div>
  
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>